/dts-v1/;

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "shakti,spike-bare-dev";
  model = "shakti,spike-bare";

  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <6250000>;
    
    CPU0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafd";
      mmu-type = "riscv,sv39";
      clock-frequency = <50000000>;
      CPU0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
        phandle = < 0x1 > ;
      };
    };
  };
  memory@80000000 {
    device_type = "memory";
    reg = <0x0 0x80000000 0x0 0x9000000 >;
  };
  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "shakti,spike-bare-soc", "simple-bus";
    ranges;
    clint@2000000 {
      compatible = "riscv,clint0";
      interrupts-extended = <0x1 3 0x1 7 >;
      reg = <0x0 0x2000000 0x0 0xc0000>;
    };

    plic@40100000 {
      #interrupt-cells = < 0x01 >;
      interrupt-controller;
      compatible = "riscv,plic0";
      riscv,ndev = < 0x1f >;
      reg = < 0x00 0x40100000 0x00 0x400000 >;
      interrupts-extended = < 0x01 0x09 0x01 0x0b >;
      phandle = < 0x02 >;
    };

  };

  chosen {
    bootargs = "root=/dev/ram rw rootfstype=ramfs console=hvc0";
  };


   serial@e0001000 {
            compatible = "xlnx,xuartps", "cdns,uart-r1p8";
            status = "okay";
            clocks = <0x1 0x18 0x1 0x29>;
            clock-names = "uart_clk", "pclk";
            reg = <0x0 0xe0001000 0x0 0x1000>;
          //  interrupts = <0x0 0x32 0x4>;
            device_type = "serial";
            port-number = <0x0>;
            u-boot,dm-pre-reloc;
        };
};

